<main>

    <section>
        <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 70vh;">
            <div class="absolute top-0 w-full h-full bg-gray-900"></div>
            <div class="container relative mx-auto">
                <div class="items-center flex flex-wrap">
                    <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
                        <div class="pr-12">
                            <div data-aos="fade-up" data-aos-duration="600">
                                <img src="../<%= projectData.identity[0].logo[0].path %>" class="mx-auto my-10" alt="Logo du projet" width="64">    
                                
                                <h1 class="text-white font-semibold text-4xl"><%= projectData.identity[0].fullname %></h1>
                                <h2 class="text-gray-600 text-1xl">Créer le <%= projectData.informations[0].release_date %>. Dernière modification le <%= projectData.informations[0].last_edit_date %></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bg-gray-200 mx-auto p-3 w-1/2 rounded mt-3 flex justify-between">
            <p><%= projectData.informations[0].navbar[0].description %></p>
            <div>
                <% if(projectData.informations[0].navbar[0].external_url) { %>
                    <a href="<%= projectData.informations[0].navbar[0].external_url_path %>" class="link primary-link" target="blank"> <i class="fa fa-link"></i> </a>
                <% } %>
            </div>
        </div>
    </section>


    <section class="my-20 container mx-auto" data-aos="fade-right" data-aos-once="true" data-aos-duration="700">
        <h2 class="text-gray-800 text-5xl title-lg-shadow font-bold">Description</h2>
                
        <div class="mt-3 w-2/3 mb-10">
            <% if(projectData.informations[0].description[0].enable) { %>
                <p class="italic text-gray-700"><%= projectData.informations[0].description[0].text %></p>
            <% } %>
        </div>

        <div class="shadow w-2/5 mx-auto p-3 rounded">
            <h4 class="font-bold text-blue-700 mb-3">Informations sur le projet</h4>
            <% for (let key in projectData.informations[0].card) { %>
                <p> 
                    <span class="font-bold"><%= projectData.informations[0].card[key].title %> :</span> 
                    <span><%= projectData.informations[0].card[key].data %></span>
                </p>
            <% } %>
        </div>
    </section>


    <section class="my-20 container mx-auto" data-aos="fade-right" data-aos-once="true" data-aos-duration="700">
        <h2 class="text-gray-800 text-5xl title-lg-shadow font-bold">Missions</h2>
        <% for (let key in projectData.missions) { %>
            <p> 
                <span class="font-bold"><%= projectData.missions[key].title %> :</span> 
                <span><%= projectData.missions[key].data %></span>
            </p>
        <% } %>
    </section>


    <section class="my-20 container mx-auto" data-aos="fade-right" data-aos-once="true" data-aos-duration="700">
        <h2 class="text-gray-800 text-5xl title-lg-shadow font-bold">Languages</h2>
        <% for (let key in projectData.languages) { %>
            <p> 
                <span class="font-bold"><%= projectData.languages[key] %></span>
            </p>
        <% } %>
    </section>


    <section class="my-20 container mx-auto" data-aos="fade-right" data-aos-once="true" data-aos-duration="700">
        <h2 class="text-gray-800 text-5xl title-lg-shadow font-bold">Galerie</h2>
        <% for (let key in projectData.gallery) { %>
            <p> 
                <img src="../images/projets/<%= ref %>/gallery/<%= projectData.gallery[key].min_name %>" alt="<%= projectData.gallery[key].alt %>" width="100%"> 
                <small class="color-gray text-xs"><%= projectData.gallery[key].alt %></small>
            </p>
        <% } %>
    </section>


    <section class="my-20 container mx-auto" data-aos="fade-right" data-aos-once="true" data-aos-duration="700">
        <h2 class="text-gray-800 text-5xl title-lg-shadow font-bold">Partager</h2>
        
        <div class="col-md-10 col-12 margin-top margin-bot flex">
            <ul class="flex">
                <li> <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%- projectData.informations[0].shared_url %>&title=MikhaelBailly&source=MikhaelBailly" target="blank" class="btn btn btn-linkedin margin-right"><i class="fa fa-linkedin"></i> <span class="md-hide">Linkedin</span></a> </li>
                <li> <a href="https://twitter.com/intent/tweet?url=<%- projectData.informations[0].shared_url %>" target="blank" class="btn btn btn-twitter margin-right"><i class="fa fa-twitter"></i> <span class="md-hide">Twitter</span></a> </li>
                <li> <a href="https://www.facebook.com/sharer.php?u=<%- projectData.informations[0].shared_url %>" target="blank" class="btn btn btn-facebook margin-right"><i class="fa fa-facebook-square"></i> <span class="md-hide">Facebook</span></a> </li>
                <li> <a href="http://pinterest.com/pin/create/link/?url=<%- projectData.informations[0].shared_url %>" target="blank" class="btn btn btn-pinterest margin-right"><i class="fa fa-pinterest"></i> <span class="md-hide">Pinterest</span></a> </li>
                <li> <a href="mailto:?subject=Partage de projet sur mikhaelbailly.fr&body=<%- projectData.informations[0].shared_url %>" target="blank" class="btn btn btn-mail"><i class="fa fa-envelope"></i> <span class="md-hide">Mail</span></a> </li>
            </ul>
        </div>
    </section>


    <section class="my-20 container mx-auto" data-aos="fade-right" data-aos-once="true" data-aos-duration="700">
        <a href="" class="btn col-4 primary-border flex justify-content-between"> 
            <div class="color-lg-dark "><i class="fa fa-arrow-left"></i> Précédent</div>
            <div class="color-primary  sm-hide"> Nom </div>
        </a>
        <a href="" class="btn col-4 primary-border flex justify-content-between"> 
            <div class="color-primary  sm-hide"> Nom </div>
            <div class="color-lg-dark ">Suivant <i class="fa fa-arrow-right"></i></div>
        </a>
    </section>


</main>