<main>

    <div class="relative flex content-center items-center justify-center" style="min-height: 8vh;">
        <div class="absolute top-0 w-full h-full bg-gray-900"></div>
    </div>


    <div class="py-16 bg-gray-300">
        <div class="container mx-auto px-4">

            <h1 class="text-gray font-semibold text-4xl">Mes projets</h1>
            <h2 class="text-gray-600 text-1xl">Découvrez mes créations, que ce soit des sites, des applications ou encore des designs.</h2>

            <div>
                <nav class="mt-5">
                    <ul class="flex list-none mt-5 filter-btn-group">
                        <li class="mr-3 nav-item"> <a data-filter="all" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center font-black text-blue-700">Tout</a> </li>
                        <li class="mr-3 nav-item"> <a data-filter="site" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center">Sites</a> </li>
                        <li class="mr-3 nav-item"> <a data-filter="app" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center">Apps</a> </li>
                        <li class="mr-3 nav-item"> <a data-filter="design" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center">Design</a> </li>
                        <li class="mr-3 nav-item"> <a data-filter="other" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center">Autres</a> </li>
                    </ul>
                </nav>


                <div class="mt-10">
                    <div class="justify-center content-center flex-wrap text-center my-20 hidden" id="empty_cat">
                        <img src="/images/illustrations/empty_category.svg" alt="" class="w-1/2 mx-auto">
                        <h3 class="text-gray-600 text-1xl my-3">Il n'y a aucun projet de ce type pour le moment.</h3>
                    </div>


                    <div class="flex flex-wrap">

                        <% for (let key in projectsData) { %>
                            <div class="my-3 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 project-item" data-category="<%= projectsData[key].category %>">
                                <div class="bg-white rounded-lg overflow-hidden shadow relative">
                                    <div class="h-56 wrap_banner" style="background: url('<%= projectsData[key].banner %>');background-position: center center;background-size: cover;"></div>
                                    <div class="p-4 h-auto md:h-40 lg:h-28">
                                        <a href="<%= baseUri %>projets/<%= projectsData[key].link %>" class="block text-blue-700 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg"><%= projectsData[key].name %></a>
                                        <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm"><%= projectsData[key].description %></div>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<script>
    $( ".filter-btn-group li a" ).click(function() {
        var type = this.dataset.filter;

        $( ".filter-btn-group li a" ).removeClass('font-black text-blue-700');
        $( this ).addClass('font-black text-blue-700');
        if(type == 'all'){
            $( ".project-item" ).fadeIn(200);
            $( ".project-item" ).show();
            $( "#empty_cat" ).addClass('hidden');
        }else{
            $( ".project-item" ).hide();
            let n = $( "[data-category='"+ type +"']" ).length;

            if(n == 0){
                $( "#empty_cat" ).removeClass('hidden');
            }else{
                $( "#empty_cat" ).addClass('hidden');
                $( "[data-category='"+ type +"']" ).fadeIn(200);
            }
        }
    });
</script>