<% if(locals.meta && locals.meta == 'project') {%>
    <title>Mikhaël Bailly - Mes projets</title>
    <meta name="description" content="Découvrez les nombreux projets que j'ai pu réalisés."/>
    <meta property="og:title" content="Mikhaël Bailly - Mes projets"/>
    <meta property="og:description" content="Découvrez les nombreux projets que j'ai pu réalisés."/>
    <meta property="og:image" content="https://www.mikhaelbailly.fr/images/o/account_banner.jpg"/>
    <meta property="og:image:width" content="672"/>
    <meta property="og:image:height" content="350"/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content="Mikhaël Bailly - Mes projets"/>
    <meta property="twitter:description" content="Découvrez les nombreux projets que j'ai pu réalisés."/>
    <meta property="twitter:image" content="https://www.mikhaelbailly.fr/images/o/account_banner.jpg"/>
<% } else if(locals.meta && locals.meta == 'project-details') { %>
    <title>Mikhaël Bailly - <%= projectData.identity[0].fullname %></title>
    <meta name="description" content="<%= projectData.informations[0].navbar[0].description %>"/>
    <meta property="og:title" content="Mikhaël Bailly - <%= projectData.identity[0].fullname %>"/>
    <meta property="og:description" content="<%= projectData.informations[0].navbar[0].description %>"/>
    <meta property="og:image" content="https://mikhaelbailly.fr/images/projets/<%= ref %>/banners/banner.jpg"/>
    <meta property="og:image:width" content="672"/>
    <meta property="og:image:height" content="350"/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content="Mikhaël Bailly - <%= projectData.identity[0].fullname %>"/>
    <meta property="twitter:description" content="<%= projectData.informations[0].navbar[0].description %>"/>
    <meta property="twitter:image" content="https://mikhaelbailly.fr/images/projets/<%= ref %>/banners/banner.jpg"/>
<% } else if(locals.meta && locals.meta == 'github') { %>
    <title>Mikhaël Bailly - Mes repos Github</title>
    <meta name="description" content="Découvrez les codes que j'ai publié sur mon Github."/>
    <meta property="og:title" content="Mikhaël Bailly - Mes repos Github"/>
    <meta property="og:description" content="Découvrez les codes que j'ai publié sur mon Github."/>
    <meta property="og:image" content="https://www.mikhaelbailly.fr/images/o/account_banner.jpg"/>
    <meta property="og:image:width" content="672"/>
    <meta property="og:image:height" content="350"/>

    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content="Mikhaël Bailly - Mes repos Github"/>
    <meta property="twitter:description" content="Découvrez les codes que j'ai publié sur mon Github."/>
    <meta property="twitter:image" content="https://www.mikhaelbailly.fr/images/o/account_banner.jpg"/>
<% } %>
