<main>
    <div class="relative flex content-center items-center justify-center" style="min-height: 8vh;">
        <div class="absolute top-0 w-full h-full bg-gray-900"></div>
    </div>

    <div class="py-16 bg-gray-300">
        <div class="container mx-auto px-4">
            
            <h1 class="text-gray font-semibold text-4xl">Mes repos Github</h1>
            <h2 class="text-gray-600 text-1xl">Découvrez mes différents codes open-source disponible sur Github.</h2>

            <div>
                <nav class="mt-5">
                    <ul class="flex list-none mt-5 filter-btn-group">
                        <li class="mr-3 nav-item"> <a data-filter="all" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center font-black text-blue-700">Tout</a> </li>
                        <% for (let keyF in filters) { %>
                            <li class="mr-3 nav-item"> <a data-filter="<%= filters[keyF] %>" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center"><%= filters[keyF] %></a> </li>
                        <% } %>
                        <li class="mr-3 nav-item"> <a data-filter="other" class="text-teal-dark uppercase text-xs font-bold cursor-pointer py-1 flex items-center">Autres</a> </li>
                    </ul>
                </nav>


                <div class="mt-10">
                    <div class="flex flex-wrap">

                        <% for (let key in datas) { %>
                            <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 project-item" data-category="<%= datas[key].language ? datas[key].language : 'other'%>">
                                <div class="bg-white rounded-lg overflow-hidden shadow relative">
                                    <% if(banners.banners[datas[key].id]) { %>
                                        <img class="h-56 w-full object-cover object-center" src="<%= banners.banners[datas[key].id] %>" alt="">
                                    <% }else{ %>
                                        <img class="h-56 w-full object-cover object-center" src="https://enlivenhq.com/wp-content/uploads/2014/08/github-banner-770x425.png" alt="">
                                    <% } %>
                                    <div class="p-4 h-auto md:h-40 lg:h-48">
                                        <a href="<%= datas[key].html_url %>" class="block text-blue-700 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg"><%= datas[key].name %></a>
                                        <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm"><%= datas[key].description %></div>
                                        <div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
                                            <% if(datas[key].language) { %>
                                                <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700 cursor-pointer"><%= datas[key].language %></a>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>


<script>
    $( ".filter-btn-group li a" ).click(function() {
        var type = this.dataset.filter;

        $( ".filter-btn-group li a" ).removeClass('font-black text-blue-700');
        $( this ).addClass('font-black text-blue-700');
        if(type == 'all'){
            $( ".project-item" ).fadeIn(200);
            $( ".project-item" ).show();
        }else{
            $( ".project-item" ).hide();
            $( "[data-category='"+ type +"']" ).fadeIn(200);
        }
    });
</script>